In [3]:
import pandas as pd
import glob
import os

In [4]:

# reading two csv files
data1 = pd.read_csv('life-satisfaction-vs-life-expectancy.csv')
data2 = pd.read_csv('continents2.csv')

#using merge function by setting how='inner'
output1 = pd.merge(data1, data2,
on='Entity',
how='inner')

# displaying result
output1
#data1
output1.to_csv (r'/Users/voshananissanka/Desktop/Monash Third Year Semester 2/Data Visualization/Final_Home_Work/suicidecont.csv', index = False, header=True)

In [6]:
data3=pd.read_csv('suicidecont.csv')

In [7]:
data3

,Country name,Code,Year,Deaths - Self-harm - Sex: Both - Age: All Ages (Percent),ISO 3166 Country Code,Latitude,Longitude
0,Afghanistan,AFG,1990,0.38,AF,33.0,65.0
1,Afghanistan,AFG,1991,0.39,AF,33.0,65.0
2,Afghanistan,AFG,1992,0.41,AF,33.0,65.0
3,Afghanistan,AFG,1993,0.42,AF,33.0,65.0
4,Afghanistan,AFG,1994,0.41,AF,33.0,65.0
...,...,...,...,...,...,...,...
5545,Zimbabwe,ZWE,2015,1.68,ZW,-20.0,30.0
5546,Zimbabwe,ZWE,2016,1.75,ZW,-20.0,30.0
5547,Zimbabwe,ZWE,2017,1.80,ZW,-20.0,30.0
5548,Zimbabwe,ZWE,2018,1.87,ZW,-20.0,30.0
5549,Zimbabwe,ZWE,2019,1.89,ZW,-20.0,30.0

In [6]:
data4=data3.groupby("year").count()

In [7]:
data4

,Country name,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
year,,,,,,,,,,
2005,27,27,27,27,27,25,1,25,26,26
2006,89,89,88,89,88,86,81,83,89,88
2007,102,102,102,100,101,101,102,98,101,102
2008,110,110,110,110,108,107,109,107,108,110
2009,114,114,113,113,111,112,113,111,113,113
2010,124,124,123,120,121,122,123,119,120,120
2011,146,146,145,145,141,145,144,138,145,146
2012,142,142,140,142,136,141,133,132,142,142
2013,137,137,136,137,133,136,133,130,135,137
2014,145,145,142,142,140,138,138,136,141,142
2015,143,143,140,142,139,140,139,133,142,142
2016,142,142,139,142,137,140,138,131,142,142
2017,147,147,146,146,143,146,145,137,146,146
2018,142,142,136,142,138,141,136,134,140,140
2019,144,144,138,144,139,143,137,136,143,143
2020,95,95,88,95,92,94,88,89,94,94

In [9]:
whrlatlong=pd.read_csv("WHRlatlong.csv")

In [18]:
print(whrlatlong.groupby("year"))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fe4c99b6e80>

In [16]:
whrlatlong

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,ISO 3166 Country Code,Latitude,Longitude
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,AF,33.0,65.0
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,AF,33.0,65.0
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,AF,33.0,65.0
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,AF,33.0,65.0
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,AF,33.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209,ZW,-20.0,30.0
1743,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224,ZW,-20.0,30.0
1744,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212,ZW,-20.0,30.0
1745,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235,ZW,-20.0,30.0
1746,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346,ZW,-20.0,30.0